@font-face {
    font-family: 'inter';
    src: url('../font/AnyConv.com__Inter-Bold.woff2') format('woff2'), url('../font//AnyConv.com__Inter-Bold.woff') format('woff'), url('../font/Inter-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../font/AnyConv.com__Inter-Medium.woff2') format('woff2'), url('../font/AnyConv.com__Inter-Medium.woff') format('woff'), url('../font/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../font/AnyConv.com__Inter-Regular.woff2') format('woff2'), url('../font/AnyConv.com__Inter-Regular.woff') format('woff'), url('../font/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

@mixin card ($img) {
    padding: 20px;
    position: relative;
    width: 23%;
    height: 390px;
    border-radius: 15px;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%), $img;
    ;
}

@mixin arrow () {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/arrow.svg) no-repeat center;
}

$colorpurple:#8561CC;
:root {
    --size-h2: 64px;
    --size-h3: 40px;
    --padding-btn: 12px 24px;
}

body {
    margin: 0;
    font-family: 'inter';
    font-weight: 400;
    min-width: 350px;
    color: #232323;
    font-size: 18px;
}

ul {
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    min-width: 320px;
    width: min(100% - 15px, 1394px);
    margin: auto;
}


/*header*/

.header {
    &__title {
        display: none;
    }
    & .container {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    & .container>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        position: relative;
        top: 17%;
        width: 90px;
        height: 120px;
        padding: 10px;
        background: #fff url(../img/logo.svg) no-repeat center;
        background-size: auto;
        z-index: 10;
    }
    &__phone {
        position: relative;
        padding-right: 30px;
        margin-right: 1.30vw;
    }
    &__phone::after {
        @include arrow();
        right: 0;
        top: -3px;
        transition: transform 0.3s ease;
    }
    &__phone-open {
        display: none;
        position: absolute;
    }
    &__phone-active+.header__phone-open {
        display: block;
    }
    &__phone-active::after {
        transform: rotate(180deg);
    }
    &__button {
        font-size: 18px;
        padding: var(--padding-btn);
        color: $colorpurple;
        border: 2px solid #F3F1F8;
        border-radius: 4px;
    }
    &__hamburger-line {
        cursor: pointer;
        height: 5px;
        display: inline-block;
        -webkit-box-align: center;
        align-items: center;
        margin-right: 10px;
    }
    &__hamburger {
        position: relative;
        width: 17px;
        height: 1px;
        border-radius: 25px;
        background-color: #232323;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 99;
        box-sizing: border-box;
    }
    &__hamburger::before {
        content: '';
        position: absolute;
        top: 5px;
        width: 17px;
        height: 1px;
        border-radius: 25px;
        background-color: #232323;
        -webkit-transition: .5s;
        transition: .5s;
        box-sizing: border-box;
    }
    &__hamburger::after {
        content: '';
        position: absolute;
        top: -5px;
        width: 17px;
        height: 1px;
        border-radius: 25px;
        background-color: #232323;
        -webkit-transition: .5s;
        transition: .5s;
    }
}


/*burger*/

.burger {
    &__btn--active {
        background-color: var(--color-yellow);
    }
    &__btn--active::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    &__btn--active::after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
    &__btn--active.burger__line {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
    }
}

.menu {
    & {
        padding: 20px 15px;
        color: #232323;
        width: 13.42vw;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 0;
        top: 45px;
        background: #fff;
        position: absolute;
        -webkit-transition: .5s;
        transition: .5s;
        z-index: 10;
    }
    &__item:not(:last-child) {
        margin-bottom: 15px;
    }
    &-active {
        visibility: inherit;
    }
}

.nav {
    & {
        position: relative;
        display: flex;
    }
    &__item:not(:last-child) {
        margin-right: 32px;
    }
}


/*hero*/

.hero {
    & {
        overflow: hidden;
        color: #fff;
        margin-bottom: 6.25vw;
    }
    &__subhead {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__title {
        font-size: var(--size-h2);
        font-weight: 700;
        margin: 0px;
    }
    &__note {
        font-size: 20px;
        line-height: 30px;
    }
}

.swiper {
    &-slide1,
    &-slide2,
    &-slide3,
    &-slide4,
    &-slide5 {
        padding: 10.42vw 0vw 22.40vw 0vw;
        background: url(../img/hero.webp);
        background-image: linear-gradient(to top, rgba(35, 35, 35, 0.35), rgba(217, 217, 217, 0)), url(../img/hero.webp);
        background-size: cover;
        height: 53.33vw;
    }
    &__nav {
        top: -8.85vw;
        position: relative;
        background-color: #fff;
        width: 140px;
        padding: 10px;
        color: #232323;
        z-index: 10;
    }
    &-button-prev,
    &-button-next {
        color: #757575;
    }
    &-button-prev::after,
    &-button-next::after {
        font-size: 20px;
    }
}

.counter {
    text-align: center;
}


/*block*/

.block {
    & {
        margin-bottom: 6.25vw;
    }
    &__subhead {
        color: $colorpurple;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__title {
        font-size: var(--size-h3);
        margin-bottom: 15px;
    }
    &__note {
        color: #757575;
        font-size: 20px;
        margin-bottom: 25px;
    }
    &__buttons {
        margin-bottom: 40px;
    }
    &__btn {
        padding: var(--padding-btn);
        font-size: 18px;
        border: none;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &__btn1 {
        background-color: $colorpurple;
        color: #fff;
    }
    &__btn1:hover {
        background-color: #FBFAFA;
        color: #232323;
    }
    &__btn2 {
        background-color: #FBFAFA;
    }
    &__btn2:hover {
        background-color: $colorpurple;
        color: #fff;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
    }
    &__card p {
        position: absolute;
        bottom: 0;
    }
    &__card-1 {
        @include card (url(../img/card1.png) bottom)
    }
    &__card-2 {
        @include card (url(../img/card2.png) bottom)
    }
    &__card-3 {
        @include card (url(../img/card3.png) bottom)
    }
    &__card-4 {
        @include card (url(../img/card4.png) bottom)
    }
}


/*question*/

.question {
    & .container {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: var(--size-h3);
    }
}


/*accordion*/

.accordion {
    & {
        width: 50%;
    }
    &__title {
        cursor: pointer;
        font-weight: 500;
        padding-left: 30px;
        position: relative;
    }
    &__title::after {
        @include arrow();
        top: 0;
        left: 0;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }
    &__title-active::after {
        transform: rotate(0deg);
    }
    &__title+div {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &__title-active+div {
        display: block;
        opacity: 1;
    }
}

@media (max-width: 915px) {
    .nav__item {
        display: none;
    }
    .block__card {
        height: 250px;
    }
    .menu {
        width: 200px;
    }
}

@media (max-width: 650px) {
     :root {
        --size-h2: 40px;
        --size-h3: 24px;
        --padding-btn: 10px 15px;
    }
    body {
        font-size: 14px;
    }
    .header__phone {
        font-size: 14px;
    }
    .nav__menu {
        font-size: 12px;
    }
    .block__cards {
        flex-wrap: wrap;
    }
    .block__card {
        width: 45%;
        margin-bottom: 15px;
    }
    .swiper__text {
        text-align: center;
    }
}

@media (max-width: 490px) {
     :root {
        --size-h2: 28px;
        --size-h3: 18px;
    }
    body {
        font-size: 12px;
    }
    .header__logo {
        position: static;
        top: 0;
        width: 40px;
        height: 80px;
        background-size: contain;
    }
    .header__phone,
    .header__phone-open {
        font-size: 10px;
        padding-right: 15px;
    }
    .header__phone::after {
        width: 15px;
        height: 15px;
        background-size: contain;
    }
    .header__button {
        font-size: 12px;
    }
    .hero__note {
        font-size: 16px;
    }
    .swiper-slide {
        height: 200px;
    }
    .block__note {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .swiper__nav {
        width: 60px;
        padding: 5px;
        font-size: 12px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: auto;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 12px;
    }
    .question .container {
        flex-direction: column;
        align-items: center;
    }
    .accordion {
        width: 100%;
    }
    .block__card {
        height: 200px;
    }
}
